<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pt-header pb-80","backgroundColor":"cream","layout":{"type":"constrained","contentSize":"1280px"}} -->
<main class="wp-block-group has-cream-background-color has-background pt-header pb-80">

	<!-- wp:group {"className":"mb-40 px-40","layout":{"type":"default"}} -->
	<div class="wp-block-group mb-40 px-40">
		<!-- wp:post-title {"level":1,"className":"text-4xl","textColor":"teal"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"default"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
